.header{
    margin: auto;
    background-color: green;
    width: 50;
}
.para{
    border-left-color:#585858;
    text-align: left;
    border-color: green;
    box-sizing: border-box;
    color:#585858;
    column-gap: 0px;
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width:280px;
    font-family:"ABeeZee","sans-serif" ;
    line-height: 18px;
    position: relative;
    text-size-adjust: 100%;


}
.img{
    width: 500px;
    height: 400px;
}
.cotentor1{
    display: flex;
}
.cotentor2{
    display: flex;
}
.cotentor3{
    display: flex;
}
body
{
    margin: auto;
}
.footer
{
    flex-direction: column;
    background-color:black;
    color: aliceblue;
    
}